{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "plugins": ["react-refresh"],
  "rules": {
    "react-refresh/only-export-components": "warn",
    "prettier/prettier": "warn"
  }
}
